exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")

import(vegan)
import(ggplot2)

importFrom(data.table, fread)
importFrom(gridExtra, grid.arrange)
importFrom(RColorBrewer, brewer.pal)
importFrom(gplots, heatmap.2)
importFrom(plyr, rename)
importFrom(reshape2, melt, colsplit)
importFrom(scales, percent_format)
importFrom(labdsv, pco)
importFrom(grid, unit, unit.pmax, arrow, grid.newpage, grid.draw)
importFrom(ggmap, get_map, ggmap, OSM_scale_lookup)
importFrom(permute, how)
importFrom(VennDiagram, venn.diagram)
importFrom(FD, gowdis)
importFrom(lattice, levelplot, do.breaks)
importFrom(RgoogleMaps, PlotOnStaticMap, GetMap.bbox, qbbox, MaxZoom)
importFrom(MASS, glm.nb)
importFrom(ape, as.phylo)
importFrom(reshape, cast)
