exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")

import(vegan)
import(ggplot2)

importFrom(gridExtra, grid.arrange)
importFrom(RColorBrewer, brewer.pal)
importFrom(gplots, heatmap.2)
importFrom(plyr, rename)
importFrom(reshape2, melt)
importFrom(scales, percent_format)
importFrom(labdsv, pco)
importFrom(grid, unit, unit.pmax)
importFrom(stringr, str_split)
importFrom(ggmap, get_map, ggmap, OSM_scale_lookup)
importFrom(permute, how)
